In [1]:
import pandas as pd
import numpy as np

## Data Assessment

In [17]:
deaths_cause = pd.read_csv('1. annual-number-of-deaths-by-cause.csv')
deaths_cause.sample(10)

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Chronic kidney disease,Poisonings,Protein,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis
5228,Saint Lucia,LCA,2008,NaN,2.0,27.0,7.0,5.0,0.0,9.0,...,44.0,0.0,4.0,NaN,24.0,40.0,22.0,39.0,3.0,0.0
5847,South Sudan,SSD,1994,NaN,2292.0,296.0,73.0,8012.0,5249.0,303.0,...,692.0,181.0,7829.0,NaN,950.0,1387.0,1234.0,2024.0,227.0,150.0
4914,Philippines,PHL,1994,NaN,3637.0,5063.0,1130.0,4726.0,698.0,5154.0,...,12038.0,218.0,4305.0,126.0,8004.0,22140.0,8886.0,20428.0,859.0,1118.0
1831,Eastern Mediterranean Region (WHO),NaN,2006,NaN,40719.0,36097.0,10477.0,30002.0,14022.0,14859.0,...,88292.0,7016.0,24406.0,NaN,138038.0,149399.0,112389.0,151439.0,13396.0,19530.0
49,African Region (WHO),NaN,2009,NaN,187657.0,46598.0,11840.0,136904.0,821742.0,26969.0,...,99802.0,18954.0,132650.0,NaN,171249.0,159341.0,162454.0,275342.0,22863.0,16377.0
5555,Singapore,SGP,1995,NaN,20.0,365.0,81.0,1.0,0.0,28.0,...,273.0,5.0,0.0,NaN,275.0,880.0,203.0,417.0,11.0,1.0
5694,South Africa,ZAF,1990,NaN,2496.0,3168.0,452.0,5425.0,414.0,2304.0,...,4611.0,816.0,5298.0,150.0,19126.0,12236.0,4684.0,9048.0,2266.0,297.0
6977,Western Pacific Region (WHO),NaN,1994,NaN,41912.0,168647.0,46807.0,46150.0,4660.0,164865.0,...,162739.0,24542.0,41334.0,NaN,308809.0,1490039.0,251831.0,455837.0,22299.0,24766.0
5386,Saudi Arabia,SAU,2006,NaN,189.0,1189.0,437.0,78.0,1.0,570.0,...,4826.0,175.0,74.0,4.0,13404.0,3071.0,2919.0,3787.0,474.0,56.0
3906,Middle East & North Africa,NaN,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1175.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
deaths_age_group = pd.read_csv('2. number-of-deaths-by-age-group.csv')
deaths_age_group.sample(10)

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5
268,Argentina,ARG,2018,218973,85229,32356,1457,7602
2904,Japan,JPN,2014,1037474,193388,40532,966,2898
5094,Sao Tome and Principe,STP,2014,396,237,175,25,172
183,Angola,AGO,1993,15286,25634,32029,8115,110168
1230,Congo,COG,1990,4634,7047,7283,890,10552
3651,Mexico,MEX,2011,264390,152890,106280,6976,45098
2580,Hungary,HUN,1990,77414,47552,15672,401,2159
1070,Central African Republic,CAF,2010,6492,13814,19778,2720,30150
2602,Hungary,HUN,2012,82028,38275,6713,112,499
3327,Lithuania,LTU,2017,26217,9417,2729,41,123

In [18]:
docs_per_pop = pd.read_excel('3. Medical Doctors Per 10000 population.xlsx', header=2)
docs_per_pop.sample(10)

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Location,Period,FactValueNumeric,Value
4080,HWF_0002,Medical doctors (number),EUR,Europe,BEL,Belgium,1972,15888.00,15Â 888
7679,HWF_0004,Specialist medical practitioners (number),AMR,Americas,MEX,Mexico,2017,189741.00,189Â 741
2457,HWF_0001,"Medical doctors (per 10,000)",SEAR,South-East Asia,MDV,Maldives,2014,17.70,17.7
6090,HWF_0002,Medical doctors (number),WPR,Western Pacific,MYS,Malaysia,2013,46916.00,46Â 916
5289,HWF_0002,Medical doctors (number),EUR,Europe,NOR,Norway,2013,21874.00,21Â 874
9261,HWF_0005,Medical doctors not further defined (number),AMR,Americas,LCA,Saint Lucia,2017,116.00,116
4255,HWF_0002,Medical doctors (number),EUR,Europe,CZE,Czechia,2015,41893.00,41Â 893
5152,HWF_0002,Medical doctors (number),EUR,Europe,MDA,Republic of Moldova,1996,15406.00,15Â 406
754,HWF_0001,"Medical doctors (per 10,000)",AMR,Americas,TTO,Trinidad and Tobago,1995,9.43,9.43
2084,HWF_0001,"Medical doctors (per 10,000)",EUR,Europe,POL,Poland,2001,22.50,22.5

In [19]:
country_continent_codes = pd.read_csv('4. ISO 3166_country-and-continent-codes-list-csv.csv')
country_continent_codes.sample(10)

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
117,Asia,AS,"Kuwait, State of",KW,KWT,414.0
25,North America,NaN,Belize,BZ,BLZ,84.0
73,Europe,EU,Ã…land Islands,AX,ALA,248.0
227,Asia,AS,"Turkey, Republic of",TR,TUR,792.0
242,Africa,AF,Burkina Faso,BF,BFA,854.0
74,Europe,EU,"France, French Republic",FR,FRA,250.0
179,Africa,AF,"Guinea-Bissau, Republic of",GW,GNB,624.0
121,Africa,AF,"Lesotho, Kingdom of",LS,LSO,426.0
182,Asia,AS,"Qatar, State of",QA,QAT,634.0
114,Africa,AF,"Kenya, Republic of",KE,KEN,404.0

In [20]:
world_population = pd.read_csv('5. World Population.csv')
world_population.sample(10)

,Entity,Code,Year,Population (historical estimates)
23170,Iran,IRN,1852,7594883
49490,Taiwan,TWN,1963,12200155
19825,Guadeloupe,GLP,2018,396273
51333,Trinidad and Tobago,TTO,1945,560222
24058,Israel,ISR,1891,316578
20426,Guinea,GIN,1957,3342379
14278,Ecuador,ECU,1844,740051
33191,Mongolia,MNG,2005,2559258
43300,Samoa,WSM,2003,187455
13073,Democratic Republic of Congo,COD,1932,9366198

In [14]:
gdp = pd.read_excel('6. Current health expenditure (% of GDP).xlsx', header=5)
gdp.sample(10)

,Aruba,ABW,Current health expenditure (% of GDP),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
253,"Venezuela, RB",VEN,Current health expenditure (% of GDP),7.334273,7.850638,7.718282,7.507047,6.781567,6.055094,8.098611,...,6.448144,5.594123,5.776450,4.346289,3.917974,4.664992,4.926475,5.367084,NaN,NaN
14,Azerbaijan,AZE,Current health expenditure (% of GDP),2.948944,2.755907,2.732794,2.734711,2.665304,2.261077,2.066784,...,2.964816,3.036723,3.377137,4.106636,4.036554,3.736515,3.556210,4.038290,NaN,NaN
203,South Asia,SAS,Current health expenditure (% of GDP),3.718785,3.885078,3.946617,3.721258,3.697415,3.624797,3.548161,...,3.260677,3.627460,3.535599,3.515184,3.435047,2.983389,3.039821,3.093990,NaN,NaN
165,Mauritania,MRT,Current health expenditure (% of GDP),3.378257,3.571847,4.002262,4.032558,3.704309,3.403135,2.702533,...,2.649194,2.867999,3.467244,3.673638,3.096493,3.337229,3.579090,3.303297,NaN,NaN
34,Canada,CAN,Current health expenditure (% of GDP),8.248144,8.624824,8.856704,9.010901,9.066281,9.035406,9.342102,...,10.506379,10.405137,10.248527,10.733205,11.022961,10.835383,10.806375,10.844478,NaN,NaN
232,Thailand,THA,Current health expenditure (% of GDP),3.101254,3.026238,3.334723,3.243128,3.138932,3.159722,3.099709,...,3.522940,3.453133,3.684481,3.667889,3.754095,3.843099,3.818495,3.789121,NaN,NaN
35,Central Europe and the Baltics,CEB,Current health expenditure (% of GDP),5.704259,5.906488,6.155065,6.389900,6.354219,6.360856,6.218791,...,6.541867,6.674307,6.577301,6.496499,6.593961,6.562004,6.574764,6.715267,NaN,NaN
157,Mali,MLI,Current health expenditure (% of GDP),5.466316,4.519514,4.997727,5.050595,5.217683,5.195157,5.455888,...,3.752162,3.967507,4.481563,4.111434,3.773774,3.674256,3.732499,3.893898,NaN,NaN
247,Ukraine,UKR,Current health expenditure (% of GDP),5.306852,5.725344,5.992200,6.545741,6.168570,6.346158,6.416952,...,7.116655,6.941553,7.189581,7.776093,7.545402,7.433325,7.519885,7.098602,NaN,NaN
128,Lao PDR,LAO,Current health expenditure (% of GDP),4.275137,4.290317,3.697512,4.479208,3.540573,3.336732,2.932009,...,2.076376,2.399850,2.298455,2.453665,2.360875,2.526068,2.246303,2.598524,NaN,NaN

## Data Cleaning